<!DOCTYPE html>
<html>
  <head>
    <title>JerryWork</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="d-flex flex-column min-vh-100">
<!--  navbar here -->
    <%= render "shared/navbar" %>
<!--content body-->
    <%= yield %>
<!--  content footer-->
  <%= render "shared/footer" %>
  </body>
</html>
